.form-box{
    height: 1500px;
    min-width: 100%;
    background-image: url('/src/images/test image 1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0vw;
    padding: 5vw ;
    position: relative;
}

.form-box h5{
  color: #fff;
  font-size: 35px ;
  text-align: center;
  margin: 0 0 .5vh 0;
}

.form-input, textarea{
  display: block;
  width: 50%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .1vw 25% ;
  align-self: center;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.comments-input{
  display: block;
  width: 50%;
  height: 10vw;
  padding: 0rem .8rem .5rem .8rem;
  margin: 0rem 25% 1vw;
  align-self: center;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.form-box textarea{
  height: 15vh;
}

.form-box button{
  font-size: large;
  height: 3em;
  position: absolute; 
  width: 9em;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 1.5rem;
  border-radius: 5px;
}

.serviceTypeBox{
  background-color: #fff;
  display: block;
  width: 50%;
  padding: 0 .8rem .5rem .8rem;
  margin: 2vw 25% .5vw;
  align-self: center;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.form-box button:hoover {
    cursor: pointer
}

